.Main_Cont{
    display: flex;
    margin: 30px auto;
    justify-content: space-around;
}

.Right_side{
    width: 400px;
    height: 550px;
    background-color: #9E482C;
    position: relative;
}

.Left_side{
    
}
.downRibbon{
    position: absolute;
    width: 400px;
    top: 220px;
}